---
layout: layouts/base.njk
---

<section class="hero-wrap hero-wrap-2" style="height:300px; background-image: url('{{image | url}}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center" style="height:300px;">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">
                            <span class="lang" key="anasayfa">Anasayfa</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                    <span class="mr-2">
                        <a href="/blog">
                            <span class="lang" key="bloglar">Blog Yazıları</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                    <span>{{title}}</span>
                </p>
                <h1 class="mb-0 bread lang" key="blogdetay">Blog Detayı</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                <h2 class="mb-3">{{title}}</h2>

                {{content | safe}}

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        {%- for etiket in etiketler -%}
                            <a href="#" class="tag-cloud-link" alt="tag" title="tag">{{etiket}}</a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate pl-md-4 py-md-5">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Services</h3>
                        <li>
                            <a href="#">Top Quality Content
                                <span>(12)</span></a>
                        </li>
                        <li>
                            <a href="#">Highly Skilled Instructor
                                <span>(22)</span></a>
                        </li>
                        <li>
                            <a href="#">World Class &amp; Quiz
                                <span>(37)</span></a>
                        </li>
                        <li>
                            <a href="#">Get Certified
                                <span>(42)</span></a>
                        </li>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#">
                                        <span class="fa fa-calendar"></span>
                                        Sept. 17, 2020</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-user"></span>
                                        Admin</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-comment"></span>
                                        19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#">
                                        <span class="fa fa-calendar"></span>
                                        Sept. 17, 2020</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-user"></span>
                                        Admin</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-comment"></span>
                                        19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#">
                                        <span class="fa fa-calendar"></span>
                                        Sept. 17, 2020</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-user"></span>
                                        Admin</a>
                                </div>
                                <div>
                                    <a href="#">
                                        <span class="fa fa-comment"></span>
                                        19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">design</a>
                        <a href="#" class="tag-cloud-link">learn</a>
                        <a href="#" class="tag-cloud-link">education</a>
                        <a href="#" class="tag-cloud-link">course</a>
                        <a href="#" class="tag-cloud-link">online</a>
                        <a href="#" class="tag-cloud-link">bag</a>
                        <a href="#" class="tag-cloud-link">pen</a>
                        <a href="#" class="tag-cloud-link">teacher</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .section -->